* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    letter-spacing: 0.1cm;
}

.toggle-btn {
    float: right;
    margin: 10px 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.toggle-btn i {
    color: #1DA1F2;
}

.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    background-color: whitesmoke;
    transform: translate(-100%);
}

.show-sideBar {
    transform: translate(0);
}

.header img {
    width: 150px;
    padding: 5px 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-btn i{
    color: red;
}

.close-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-right: 10px;
}

.close-btn:hover{
    transform: rotate(360deg);
    transition: 0.3s ease-out;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    padding: 5px 10px;
}

.links a:hover {
    background-color: lightblue;
}

.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons i {
    padding: 5px;
    color: #1DA1F2;
}

@media screen and (max-width: 425px){
    .sideBar{
        width: 100%;
    }
}

@media screen and (min-width: 426px){
    .sideBar{
        width: 250px;
    }
}